# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# Environment
.env
application-local.properties

# OS
.DS_Store

# Build
*.class
*.jar
*.war
.vercel
